@import "robota.css";
@import "~normalize.css"; /* указывает что он находиться в папке Node-Moduls*/
body{
    font-family: "rabota",sans-serif ;
}
.container{
    max-width:1000px;
    margin:0 auto;
}
h1{
    text-align: center;
}
.logo{
    background-image: url("../assets/img.png");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin:0 auto;
}